<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">{{ section.title }}</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">{{ section.text }}</p>
      </div>
    </div>
    <!--div class="row justify-content-center">
      <div class="col-lg-8">
        <form id="contact-form" method="post">
          <div class="form-group"> 
            <label>Email:</label>
            <input type="email" id="email-input" placeholder="Enter email here…" aria-describedby="emailHelp" class="form-control" required />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group"> 
            <label>How can we help you?</label>
            <textarea required id="description-input" rows="3" placeholder="Enter your message…" class="form-control"></textarea>
          </div>
          <div class="form-group"> 
            <button 
              class="btn btn-primary g-recaptcha" 
              data-sitekey="{{ site.recaptcha_key }}"
              data-callback='onSubmit' 
              data-action='submit'>
              Submit
            </button>
          </div>
        </form>
      </div>
    </div-->
    <div class="row justify-content-center mt-5">
      {% for action in section.actions %}
      {% assign fa = action.icon_type | default: "fas" %}
      <div class="col ml-auto text-center">
        <i class="{{ fa }} {{ action.icon }} fa-3x mb-3 text-muted"></i>
        <a class="d-block" href="{{ action.url }}">{{ action.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<script>
  async function onSubmit(token) {
    const res = await fetch('{{ site.form_post_url }}', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        email: document.getElementById('email-input').value,
        message: document.getElementById('description-input').value
      })
    });
    if(res.status === 201){
      document.getElementById('contact-form').innerHTML = "<h2>Thank you for contacting us. We'll get back to you soon.</h2>";
    }else{
      document.getElementById('contact-form').innerHTML = "<h2 style='color:red'>Error occured. Please try again later</h2>";
    }
  }
</script>